<h3>{{viewTitle}}</h3>

<form action="/admin" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{student._id}}">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{student.fullName}}">
        <div class="text-danger">
            {{student.fullNameError}}</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{student.email}}">
        <div class="text-danger">
            {{student.emailError}}</div>
    </div>
    <div class="form-group">
        <label>USN</label>
        <input type="text" class="form-control" name="usn" placeholder="USN" value="{{student.usn}}">
        <div class="text-danger">
            {{student.usnError}}</div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="Mobile" value="{{student.mobile}}">
        </div>
        <div class="form-group col-md-6">
            <label>Parents Mobile</label>
            <input type="text" class="form-control" name="parentsMobile" placeholder="Parents Mobile" value="{{student.parentsMobile}}">
        </div>

    </div>
    <div class="form-group">
        <label>Address</label>
        <textarea class="form-control" name="address" placeholder="Address" rows="4">{{student.address}}</textarea>
        <!-- <div class="text-danger">
            {{student.adressError}}</div> -->
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/admin/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>
